
body {
    background-color:#ffa69e; display: grid;
    h1 {
        color: #fff;
        margin: 30px;
        font-size: 50px;
        font-family: 'stint ultra condensed', cursive;  
       
    }
    .caja2 {
        .caja2__subtitulo {
            color: #fff;
        }
    }
    }
    .barra {
        background-color: rgb(102, 98, 98);
    }

    .info {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        display: flex;
        justify-content: center;
        margin: 40px;
        margin-right: 300px;
        .info1 {
            margin: 40px;
            margin-left: 300px;
            font-size: 15px;
            p {
                font-size: 18px;
            }
            ul {
                list-style: none;
                i {
                    font-size: 30px;
                   margin-left:100px;
                }
            }
        }
        .info4 {
            margin: 40px;
            margin-left: 400px;
            font-size: 15px;
            p {
                font-size: 18px;
            }
            ul {
                list-style: none;
                i {
                    font-size: 30px;
                    margin-left:60px;
                }
             }
        }
       .info2 {
           margin: 30px;
             margin-left: 400px;
             font-size: 15px;
             p {
                 font-size: 18px;
             }
            ul {
                list-style: none;
                i {
                    font-size: 30px;
                    margin-left:40px;
                }
             }
            }
        }
    

   