
body {
    background-color: rgb(180, 133, 133);
     display: grid;
    h1 {
        color: #fff;
        margin: 10px;
        font-size: 50px;
        font-family: 'stint ultra condensed', cursive;  
       
    }
    .caja2 {
        .caja2__subtitulo {
            color: #fff;
        }
    }
    }
    .barra {
        background-color: rgb(138, 100, 100);
    }
