
.contactanos {
    color: #fff;
    box-shadow: 0 0 3px 3px #fff;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 30px;

    h3 {
        color: #fff;
        font-family: 'stint ultra condensed',  cursive;
        font-size: 40px;
    }
    .form1 {
            label {
                margin: 10px;
                font-size: 25px;
                font-family: 'Stint Ultra Condensed', cursive;
                letter-spacing: 1px;
                display: block;              
            }
            input {  background-color: transparent;
                box-shadow: 1px 1px 1px 1px #fff;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: none;
                outline: none;
                width: 80%;
                height: 50px;
                transition: all 2s;
                border-radius: 30px;
                padding: 30px;
                color: #fff;}
                ::placeholder {
                    color: #E9C7D7;
                    text-align: center;
                  }
            button {
                margin: 25px;
                color: #fff;
                background-color: rgb(138, 100, 100);
                border: 2px solid #fff;
                text-transform: uppercase;
                width: 40%;
                height: 40px;
                border-radius: 30px;
            }
    }
}