.seccionmujeres{
    h2 {
        color: #fff;
        font-family: 'stint ultra condensed', cursive; 
        font-size: 30px;
        margin-left: 30px;
    }
}

.fotoproducto {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1rem;
margin-left: 200px;
   a {
        color: #fff;
        font-family: 'stint ultra condensed', cursive;  
        font-size: 30px;
        display: flex;
        margin-left: 130px;
    }
    img {
        width:250px;
        height: 250px;
        margin: 30px;
        border-radius: 20px;
    }
}

.sobre {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    h3 {
        color: #fff;
        font-size: 30px;
        font-family: 'stint ultra condensed', cursive;
        margin-left: 90px;
        display: flex;
        justify-content: center;
      
    }
    p { 
        color: #fff;
        font-size: 25px;
        margin-left: 30px;
        font-family: 'stint ultra condensed', cursive;
    }
}