@mixin cajatexto {
    width: 800px;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'stint ultra condensed', cursive;
   color: #fff;

    h2 {
        text-align: center;
        color: #fff;
        font-size: 25px;
        &:hover {
            color: rgb(31, 19, 21);
        }
    }
}
@mixin hache3 {
    h3 {
        text-align: center;
        padding-top: 10px;
        color: #fff;
        font-size: 20px;
    }
}


.cajatexto1 {
 @include cajatexto;
@include hache3;
}
.cajatexto2 {
    @include cajatexto;
    .p {
      text-align: center;
    img {
        padding: 20px;
    }
    }
    @include hache3;
}
.cajatexto3 {
    @include cajatexto;
    margin-bottom: 40px;
}



.information {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    margin: 0 auto;
    .info1 {
        margin: 30px;
     h4 {
         font-size: 18px;
     }
        p {
            font-size: 14px;
        }
        ul {
            list-style: none;
            i {
                font-size: 30px;
               margin-left:50px;
            }
        }
    }
    .info2 {
        margin: 30px;
        h4 {font-size: 18px;}
        p {
            font-size: 14px;
        }
        ul {
            list-style: none;
            i {
                font-size: 30px;
                margin-left:60px;
            }
         }
    }
   .info3 {
    margin: 30px;
       h4 {font-size: 18px;}
         p {
             font-size: 14px;
         }
        ul {
            list-style: none;
            i {
                font-size: 30px;
                margin-left:15px;
            }
         }
        }
    }


.cajafondo {
    background-color: rgb(180, 133, 133);
}