
.sobre {

    margin: 0 auto;
    width: 800px;
    height: 600px;
   
    h3 {
        color: #fff;
        font-size: 30px;
        font-family: 'stint ultra condensed', cursive;
        display: flex;
        justify-content: center;
      
    }
    p { 
        color:#fff;
        font-size: 25px;
        margin-left: 30px;
        font-family: 'stint ultra condensed', cursive;
    }
}
