@import "body";
@import "indumentaria";
@import "contacto";
@import "footer";
@import "informacion";
@import "sobrenosotros";
@import "camperas";


* {
    margin: 0;
}
.flexsearch {
  .input10 {
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 25px;
    outline: none;
    width: 300px;
    margin-left: 300px;

  }
    ul {
      display: inline-block;
      li {
        list-style: none;
        i {
          color: white;
        }
      }
    }
      ul {
        display: inline-block;
        li {
          list-style: none;
          i {
            color: white;
          }
        }
      }
}




@media (min-width: 360px) and (max-width: 480px) {
  .fotoproducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    img {
      width: 100px;
      height: 100px;
    }
    a{
      font-size: 20px;
      margin-left: 30px;
    }
  }
  .flexsearch {
    display:none;
   .input10 {
     width: 100px;
   }
  }
  body{ background-size: cover;
  display: block;}
  .information {
    display: block;
    font-size: 20px;
    margin-left: 60px;
    .info1 {
      margin: 30px;
      font-size: 10px;
      ul {
          list-style: none;
          i {
              font-size: 30px;
             margin-left:30px;
          }
      }
  }
  }
  .sobre {
    display: block;
    width: 300px;
    h3 {
      margin-right: 90px;
    }
  }
  .cajatexto1 {
    width: 300px;
  }
  .cajatexto2 {
    width: 300px;
  }
  .cajatexto3 {
    width: 300px;
  }
  .footer h4 {
   font-size: 15px;
  }
  .footer ul {
    font-size: 15px;
  }
}
  .contactanos {
      display: block;
      width: 80%;
      margin: 30px;
  }
 button {
     font-size: 12px;
 }
