@import "body";
@import "indumentaria";
@import "contacto";
@import "footer";
@import "informacion";
@import "sobrenosotros";
@import "responsive";


* {
    margin: 0;
}
.flexsearch {
  .input10 {
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 25px;
    outline: none;
    width: 180px;
    margin-left: 300px;
  }
    ul {
      display: inline-block;
      li {
        list-style: none;
        i {
          color: white;
        }
      }
    }
      }

